---
- name: Deploy Microblog application
  hosts: appservers
  serial: 1
  become: yes
  vars_files:
    - group_vars/all.yml
    - group_vars/vault.yml
  roles:
    - install_docker  
  
  tasks:
    - name: Pull Microblog image from Docker Hub
      docker_image:
        name: "alexanderwittenby/microblog:{{ deployment_tag | default('latest') }}"
        source: pull
        tag: "{{ deployment_tag | default('latest') }}"
        force_source: true
    
    - name: stop the old microblog container if running
      docker_container:
        name: microblog
        state: stopped
      ignore_errors: yes

    - name: Remove the old microblog container if stopped
      docker_container:
        name: microblog
        state: absent
      ignore_errors: yes
    
    - name: Start Microblog container
      docker_container:
        name: microblog
        image: "alexanderwittenby/microblog:{{ deployment_tag | default('latest') }}"
        ports:
          - "8000:5000"
        env:
          FLASK_APP: microblog.py
          FLASK_ENV: production
          DEPLOYMENT_TAG: "{{ deployment_tag | default('latest') }}"
          SECRET_KEY: "{{ ansible_hostname }}-production-secret"
          DATABASE_URL: "mysql+pymysql://microblog:{{ mysql_user_password }}@{{ groups.database[0] }}:3306/microblog"
        restart_policy: always
        state: started

    - name: Wait for port to be available
      wait_for:
        host: "127.0.0.1"
        port: 8000
        delay: 5
        timeout: 60

    - name: Health check wait
      uri:
        url: "http://127.0.0.1:8000/health"
        status_code: 200
      register: result
      retries: 5
      delay: 10
      until: result.status == 200

    - name: successful deployment message
      debug:
        msg: "Microblog application deployed successfully on {{ inventory_hostname }} with version {{ deployment_tag | default('latest') }}"