# Gather facts from remote instance and set as hosts
# en playbook som skapar hosts dynamiskts, loggar in på azure och hämtar vm instanser och lägget till i hosts i ramet.
---
-   hosts: local
    connection: local
    gather_facts: False
    collections:
        - azure.azcollection
    roles:
        - gather_instances
