# Gather facts from remote instance and set as hosts
---
-   hosts: local
    connection: local
    gather_facts: False
    collections:
        - azure.azcollection
    roles:
        - gather_instances
    vars_files:
        - group_vars/all.yml
        - group_vars/vault.yml
