# Gather EC2 facts from remote instance
---
-   hosts: local
    connection: local
    gather_facts: False
    collections:
        - azure.azcollection
    roles:
        - gather_instances
    vars_files:
        - group_vars/all.yml
        - group_vars/vault.yml



-   name: remove instance
    hosts: devops
    connection: local
    gather_facts: False
    collections:
        - azure.azcollection
    roles:
        - terminate_instances
    vars_files:
        - group_vars/all.yml
        - group_vars/vault.yml



-   name: remove networks
    hosts: local
    gather_facts: False
    tasks:
        -   include_tasks: roles/terminate_instances/tasks/vnet.yml
    collections:
        - azure.azcollection
    vars_files:
        - group_vars/all.yml
        - group_vars/vault.yml



-   name: remove security groups
    hosts: local
    gather_facts: False
    vars:
        state: absent
    roles: 
        - security_groups
    vars_files:
        - group_vars/all.yml
        - group_vars/vault.yml