name: CI 

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checking out code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and run services
        run: docker compose -f docker-compose.yml up -d --build mysql-test test
        env:
          DOCKER_BUILDKIT: 1
        
      - name: Run tests
        run: |
          docker compose -f docker-compose.yml exec -T test sh -c "cd /home/microblog && ./test.sh"
      - name: Tear down services
        run: docker compose -f docker-compose.yml down